/* ------------------------------------------------------------- Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=REM:wght@500;700;900&display=swap');

/* --------------------------------------------------------- Global Selectors */

body {
    background: linear-gradient(45deg, #6F61C0, #A084E8, #8BE8E5, #D5FFE4);
    background-attachment: fixed;
    font-family: "REM", sans-serif;
}

/* ------------------------------------------------------------------- Layout */

.container {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 10px;
    min-width: 20rem;
    min-height: 37rem;
}

.user-icon,
.rules-and-playnow,
.questionDisplay,
#score-display,
.game-page,
.correct-answer,
.wrong-answer,
.end-page {
    display: none;
}

.top-icons {
    font-size: 2em;
}

.home-icon a {
    color: #000;
}

/* ------------------------------------------------------------------- Footer */

.bottom-bar {
    opacity: 0.7;
}

/* --------------------------------------------------------------- Start Page */

.start-page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 100%;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;
}

.game-title {
    background: linear-gradient(45deg, #6F61C0, #A084E8, #8BE8E5, #D5FFE4);
    padding: 10px;
    border-radius: 70px;
    max-width: 12rem;
    font-style: italic;
}

.col.start-page>p {
    font-size: 1.3em;
    font-weight: 500;
}

/* ------------------------------------------------------------ Username Form */

#username-form {
    max-width: 21rem;
    margin: 0 auto;
    background-color: #fff;
    height: 9.5rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    margin-top: 0.1rem;
    font-size: 1.3em;
    color: #000;
    font-style: italic;
}

input[type="text"] {
    width: 100%;
    padding: 6px;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: 2px solid #A084E8;
    background-color: #fff;
    box-shadow: 0px 0px 3px #A084E8;
    color: #6f61c0;
    font-weight: 800;
    text-align: center;
    font-size: 1.4em;
    font-family: "REM", sans-serif;
}

input[type="text"]:focus {
    outline: none;
    border-color: #A084E8;
    box-shadow: 0px 0px 3px #A084E8;
    font-family: "REM", sans-serif;
}

input[type="text"]::placeholder {
    color: #6F61C0;
    opacity: 0.5;
    font-family: "REM", sans-serif;
}

/* ------------------------------------------------------- Rules and Play Now */

.rules-title h2,
.get-ready h2 {
    max-width: 17rem;
    text-decoration: underline;
}

.div-play {
    margin: 1rem;
    min-width: 7rem;
}

.play-now-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rules-p {
    font-size: 1.6rem;
    padding: 0 5rem;
}

/* ------------------------------------------------------------- Button Style */

.button-style {
    background-color: #A084E8;
    color: #000;
    padding: 8px 25px;
    border-radius: 5px;
    text-transform: uppercase;
    border-color: #A084E8;
}

/* ----------------------------------------------------------- Username Input */

#username-display {
    letter-spacing: 0rem;
}

/* ------------------------------------------------ Question and Score Layout */

#question {
    height: 210px;
    margin: 2rem;
}

#score-display {
    font-size: 2em;
}

#questionNumber {
    font-size: 2em;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: underline;
}

/* ----------------------------------------------------- Answer Options Layout*/

.answer-options {
    margin: 0.5rem;
}

.option {
    color: #000;
    padding: 8px 15px;
    border-radius: 5px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 0.5rem;
    min-width: 10rem;
}

.op-a {
    background-color: #e88484;
    border-color: #e88484;
}

.op-b {
    background-color: #849ce8;
    border-color: #849ce8;
}

.op-c {
    background-color: #e8d984;
    border-color: #e8d984;
}

.op-d {
    background-color: #84e887;
    border-color: #84e887;
}

.col.answer-options.d-flex.justify-content-center {
    max-width: 19rem !important;
}

/* ------------------------------------------------------------ Media Queries */

@media (min-width: 320px) and (max-width:426px) {
    .container {
        max-width: 18rem;
        min-width: 18rem;
    }

    .rules-p {
        font-size: 1.1rem;
        padding: 0 0;
    }

    .top-icons,
    #questionNumber,
    #score-display {
        font-size: 1.6em;
    }

    #question {
        height: 100px;
    }
}