@import url('https://fonts.googleapis.com/css2?family=REM:wght@500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

html {
    background: linear-gradient(45deg, #6F61C0, #A084E8, #8BE8E5, #D5FFE4);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body {
    font-family: "REM", sans-serif;
    font-weight: 500;
    min-height: 100vh;
}

h1 {
    font-family: "REM", sans-serif;
    font-weight: 900;
    font-style: italic;
    font-size: 4em;
}

h2 {
    font-family: "REM", sans-serif;
    font-weight: 500;
    font-size: 3em;
}

p {
    font-family: "REM", sans-serif;
    font-weight: 500;
    font-size: 2em;
}

.game-container {
    background-color: #fff;
    height: 30rem;
    width: 45rem;
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    opacity: 0.9;
}

.rules-and-difficulty,
.game-page,
.correct-answer,
.wrong-answer,
.timer-expired,
.end-page,
.highscores,
.feedback {
    display: none;
}

/* ------------------------------------------------------------------- Layout */

.top-display {
    display: flex;
    height: 10%;
    font-size: 2.5em;
    letter-spacing: 0.5em;
    color: #000;
}

.bottom-display {
    width: 18rem;
    position: absolute;
    top: 94%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.8;
}

/* --------------------------------------------------------------- Start Page */

.start-page {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 51%;
    gap: 2rem;
    align-self: center;
}

.game-title {
    background: linear-gradient(45deg, #6F61C0, #A084E8, #8BE8E5, #D5FFE4);
    padding: 10px;
    border-radius: 70px;
}

/* ------------------------------------------------------------ Media Queries */

@media (max-width: 768px) {
    .game-container {
        width: 60%;
        height: 70%;
    }
}