@import url('https://fonts.googleapis.com/css2?family=REM:wght@500;700;900&display=swap');

h1 {
    font-family: "REM", sans-serif;
    font-weight: 900;
    font-size: 250px;
    color: #724E91;
}

h2 {
    font-family: "REM", sans-serif;
    font-weight: 900;
    font-size: 150px;
    color: #E54F6D;
}

p {
    font-family: "REM", sans-serif;
    font-weight: 900;
    font-size: 75px;
    color: #F8C630;
}